*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.tto1{
    height: 50px;
    text-align: center;
}
.tto2{
    text-align: center;
}
nav{
    text-align: center;
}
br{
    height: 5px;
}
.espc{
    height: 5px;
}